body {
  margin: 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: #353535;
  background: #1c1c1c;
}

h2 {
  color: #5a537b;
  font-size: 1.25rem;
  font-weight: 600;
}

main {
  width: 60%;
  margin: 100px auto;
  padding: 1.25em;
}

.conversion-input {
  background: #6943fe;
  color: white;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  max-width: 100px;
  color: white;
  background: #6943fe;
  border: 2px solid #b295ff;
  border-radius: 6px;
  padding: 0.01em;
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
}

button {
  color: #3d3d3d;
  background: white;
  border: none;
  border-radius: 5px;
  margin-top: 1.5em;
  padding: 0.75em 1.5em;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
}

.conversion-output {
  background: #f4f4f4;
  padding: 1.5em;
  min-height: 100px;
}

.conversion-container {
  background: white;
  padding: 0.3em;
  margin-bottom: 1.5em;
}
